.outer-wrapper {
	background: #fff;
}
.container {
	width: 680px;
	margin: 0 20px;
}


body {
  padding: 10px 0;
  margin: 0;
  font: 16px/1.5 Avenir, 'Avenir Next', 'Gill Sans', Futura, “Trebuchet MS”, Arial, sans-serif;
  color: #000;
  background: #f90;
  font-weight: 300;
}

a {
  color:#f90;
  font-weight:400;
  text-decoration:none;
}

.wrapper {
  background: #fff;
}

header {
  height: 480px;
  text-align: center;
}
.big-squares {
	margin: 140px 0px;
  width: 200px;
}


section {
  width: 440px;
  margin: 0 auto;
  padding: 0 20px 0 260px;
}
p {
	position: relative;
}
.sidebar {
	width: 200px;
	position: absolute;
	top: 5px;
	left: -240px;
}

footer {
  width: 440px;
  margin: 0 auto;
  padding: 200px 0;
}
.appstore {
	width: 440px;
}

@media screen and (max-width: 720px) {
	section, footer {
		width: auto;
		max-width: 440px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
	.sidebar {
		display: block;
		width: 200px;
		position: static;
		margin: 30px auto;
	}
	.appstore {
		width: 100%;
	}
}