.outer-wrapper {
	background: #fff;
}
.container {
	width: 680px;
	margin: 0 20px;
}

::selection {
  background: #ffd990; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffd990; /* Gecko Browsers */
}
body {
  padding: 10px 0;
  margin: 0;
  font: 16px/1.5 Avenir, 'Avenir Next', 'Gill Sans', Futura, “Trebuchet MS”, Arial, sans-serif;
  color: #000;
  background: #f90;
  font-weight: 300;
}

a {
  color:#f90;
  font-weight:400;
  text-decoration:none;
}

.wrapper {
  background: #fff;
}

header {
  height: 480px;
  text-align: center;
}
.big-squares {
	margin: 140px 0px;
  width: 200px;
}
.header-title {
  position: absolute;
  width: 110px;
  left: 50%;
  margin-left: 40px;
  top: 168px;
  text-align: left;
  color: #f90;
  font-weight: bold;
  font-size: 22px;
  line-height: 100%;
}
.header-copy {
  position: absolute;
  width: 110px;
  right: 50%;
  margin-right: 40px;
  top: 282px;
  text-align: right;
  color: #f90;
  font-size: 14px;
  line-height: 180%;
}


section {
  width: 440px;
  margin: 0 auto;
  padding: 0 20px 0 260px;
}
p {
	position: relative;
}
.sidebar {
	width: 200px;
	position: absolute;
	top: 5px;
	left: -240px;
}

footer {
  width: 440px;
  margin: 0 auto;
  padding: 220px 0 50px;
}
.appstore {
	width: 440px;
	margin-bottom: 220px;
}

.astx {
	font-weight: bold;
	vertical-align: super;
	font-size: 11px;
	padding-left: 2px;
	padding-right: 2px;
}
.footnotes {
	border-top: 1px solid #666;
	padding-top: 15px;
	margin-top: 200px;
	color: #666;
	font-size: 12px;
}



#mc_embed_signup h2,
#mc_embed_signup h3 {
	padding: 0;
	margin: 0;
	line-height: 100%;
	text-align: center;
}
#mc_embed_signup h2 small {
	font-size: 16px;
	color: #a6a69c;
	font-weight: 400;
	line-height: 100%;
	margin-bottom: 5px;
}
#mc-embedded-subscribe-form {
  position: relative;
	margin: 0;
	text-align: center;
	background: #f6f6f3;
	border: 1px solid rgba(0,0,0, 0.07);
}
#mc-embedded-subscribe-form label {
	display: none;
}
#mc-embedded-subscribe-form input.email {
  background: transparent;
	font-size: 16px;
	line-height: 200%;
	padding: 5px 58px 5px 10px;
	width: 100%;
	-webkit-box-sizing: -webkit-border-box;
	box-sizing: border-box;
	border: 0;
	text-align: center;
}
#mc-embedded-subscribe {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
	width: 48px;
	font-size: 14px;
	background: #fff;
	margin: 0;
	border: 0;
	color: #776;
}

.watchaware-demo-embed {
  margin: 0 !important;
  width: 100%;
}

.review {
  color: #753;
  text-rendering: optimizeLegibility;
}
.review .title {
  display: block;
  font-weight: bold;
  text-indent: -0.35em;
}
.review .review-body {
  display: block;
  border-left: 5px solid #f90;
  padding: 5px 15px;
  font-size: 90%;
  font-style: italic;
}
.review .stars {
  display: block;
  color: #f90;
  margin-bottom: 10px;
}
.review .author {
  display: block;
  font-weight: bold;
  font-size: 75%;
  margin-top: 10px;
}


@media screen and (max-width: 720px) {
	section, footer {
		width: auto;
		max-width: 440px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
	.sidebar {
		display: block;
		width: 200px;
		position: static;
		margin: 30px auto;
	}
	.appstore {
		width: 100%;
	}
}
